<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UCP.Properties.Settings.usersdbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Max\Documents\usersdb.mdb"
            providerName="System.Data.OleDb" />
        <add name="UCP.Properties.Settings.formulasConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Max\Documents\formulas.mdb"
            providerName="System.Data.OleDb" />
        <add name="UCP.Properties.Settings.usersdbConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\databases\usersdb.mdb"
            providerName="System.Data.OleDb" />
        <add name="UCP.Properties.Settings.formulasConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\databases\formulas.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>